/* Forum styles */

ul.breadcrumb {
  list-style-type: none;
  font-size: 12px;
  margin: 0 0 20px 0;
  padding 0;	
}

ul.breadcrumb li {
  display: inline;	
}

legend {
    font-size: 110%;
}

.controls {
    padding: 3px 0 3px 0;
}

.category, .topic-list {
    /*width: 100%;*/
    clear: both;
}

.topic-list {
    width: 100%;
    font-size: 14px;
}

.category-table {
    border-collapse: collapse;
    width: 100%;
}

.category-table td, .category-table th, .topic-list td, .topic-list th {
    margin: 1px;
    padding: 10px 5px 10px 5px;
    vertical-align: middle;

}

.forum-description {
    margin: 5px;
    font-size: 80%;
}

.forum-row, .topic-row {
    width: 100%;
}

.forum-row, .topic-row.even {
	background-color: #f1f1f1;
	border-bottom: 1px solid #fff;
}

.topic-row.odd {
  background-color: #f6f6f6;	
}



.forum-row:hover, .topic-row:hover {
  background-color: #e9f3f8;
  box-shadow: inset 0px 1px 3px #e1e1e1;
}

.head-row {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(center top , #333333, #222222);
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;	
}

.forum-name {
    width: 40%;
}

.forum-topic-count, .forum-post-count {
    width: 16%;
    text-align: center;
}

.forum-last-post {
    width: 20%;
}

#mark-all-as-read {
    margin: 20px 0;
    display: block;
    width: 100%;
    text-align: right;
}

.topic-name, .topic-post-count, .topic-view-count, .topic-last-post {
    padding: 5px;
    margin: 1px;
    vertical-align: middle;
}

.topic-name {
    width: 40%;
}

.topic-post-count, .topic-view-count {
    width: 16%;
    text-align: center;
}

.topic-last-post {
    width: 20%;
}

.posts {
    clear: both;
    width: 100%;
}

.post {
    width: 99%;
    margin: 3px 0 5px 0;
    clear: both;
}


.post .info {
    width: 200px;
    border: 1px solid #CCC;
    padding: 10px;
}

.post .info .extra-info {
    font-size: 80%;
    color: #CCC;
}

.post .content {
    vertical-align: top;
    padding: 10px;
    border: 1px solid #CCC;
}

.post-header {
   padding: 6px 0 8px 20px;
   box-shadow: none;
   background-image: none;
   font-size: 80%;
   background-color: #666;
}

.post-related {
    margin-top: 20px;
}

.post .info .author {
    font-size: 110%;
    padding: 5px;
}

.post .info .post-controls {
    font-size: 80%;
}
.pagination {
    padding: 5px;
    font-size: 110%;
    text-align: center;
}

.mini-pagination {
    padding: 3px 0 3px 10px;
    font-size: 80%;
}

.pagination a, .pagination .page {
    padding-left: 3px;
}

.pagination.mini a{
    font-weight: normal;
    padding-left: 2px;
}

.pages-of {
    border-bottom: 1px dashed #e4e3e3;
    cursor: pointer;
}

.pagination .first {
    margin-right: 20px;
}

.pagination .last {
    margin-left: 20px;
}

.forum-headline {
    background-color: #EEE;
    padding: 10px;
    margin: 3px;
    color: #777777;
}
/* ----- Quoting ---- */

blockquote {
    background: #f6f6f6;
    margin: 0 0 20px 20px;
    padding: 10px;
    font-size: 90%;
    font-style: italic;
    color: #999;
}

/* ---- Special features --- */

.updated-message {
    font-size: 80%;
    padding: 5px;
    color: #CCC;
}

/* --- Unread --- */

.unread a{
    font-weight: bold;
}

.state-indicator {
    display: block;
    float: left;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin: 3px 5px;
}

.unread .state-indicator {
    background-color: #369;
}

/* --- Rank (if aviable) --- */

.post .rank {
    font-size: 80%;
    padding: 3px 0;
}

/* --- Signature --- */

.signature {
    color: #CCC;
    margin-top: 15px;
    border-top: 1px dotted #CCC;
    display: block;
}


/* --- Moderation --- */

.on-moderation {
    background: #ffcccc;
}