{% extends 'base.html' %}
{% load pybb_tags i18n %}

{% block pagetitle %}{{ topic.name }}{% endblock %}

{% block extracss %}
<style type="text/css">
.button.functions {
  float: right;
  font-size: 12px;
  padding: 0px 8px 0px;	
  position: absolute; 
  bottom: 5px; 
  display: none;
}

.button:link, .button:visited {
  background: #c1c1c1;   
}

.post:hover .button:link, .post:hover .button:visited {
  background: #0088CC;  
  display: block; 
}


.post:hover .button:hover {
  background: #005580;   
}

.quote {
  right: 5px;
}

.delete {
 right:60px;   
}

.edit {
 right: 117px;   
}

.updated {
  float: right;
  padding-right: 20px;	
}

textarea#id_body {
  border: 1px solid #c1c1c1;
  width: 800px;
  padding: 10px;
}

.post-form label {
  width: 100px;
  padding: 0 10px;   
}

.post-form .submit .button {
  float: right;   
}

</style>
{% endblock %}


{% block head %}
    {{ block.super }}
    {% include "pybb/markitup.html" %}
{% endblock head %}

{% block breadcrumb %}
    {% with object=topic %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ topic.name }}</h1>
    {% with _('Posts') as label %}
        {% include "pybb/pagination.html" %}
    {% endwith %}

    <div class="posts">
        {% for post in post_list %}
            
            
            {% cycle 'odd' 'even' as rowcolors silent %}
            {% include "pybb/post_template.html" %}
        {% endfor %}
    </div>
    <div>&nbsp;</div>
    {% with _('Posts') as label %}
        {% include "pybb/pagination.html" %}
    {% endwith %}


    {% if user.is_authenticated or PYBB_ENABLE_ANONYMOUS_POST %}
        <h3>Add your post</h3>
        {% if not user.get_profile.is_banned %}
            {% if not topic.closed %}
                {% include "pybb/post_form.html" %}
            {% endif %}
        {% endif %}
    {% else %}
        <a href="{% url registration_register %}">{% trans "Register" %}</a> {% trans "or" %} <a href="{% url auth_login %}">{% trans "login" %}</a> {% trans "to create to post a reply" %}.
    {% endif %}

    

    {% if user.is_superuser or user.is_moderator or user.is_staff %}
    <h3>Admin functions</h3>
    
    {% if user.is_staff %}
        <div class='subscriber-list'>
            {% trans "Subscribers" %}:
            {% for subscriber in topic.subscribers.all %}
                <a href='{{ subscriber.get_absolute_url }}'>{{ subscriber.username }}</a>,
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="controls">
            {% if user.is_moderator %}
                {% if topic.sticky %}
                    <a href="{% url pybb:unstick_topic topic.id %}">{% trans "Unstick topic" %}</a> /
                {% else %}
                    <a href="{% url pybb:stick_topic topic.id %}">{% trans "Stick topic" %}</a> /
                {% endif %}

                {% if topic.closed %}
                    <a href="{% url pybb:open_topic topic.id %}">{% trans "Open topic" %}</a> /
                {% else %}
                    <a href="{% url pybb:close_topic topic.id %}">{% trans "Close topic" %}</a> /
                {% endif %}
                {% if perms.pybb.change_topic and user.is_staff %}
                    <a href="{% url admin:pybb_topic_change topic.id %}">{% trans 'Admin' %}</a> / 
                {% endif %}
                {% comment %}
        <a href="{% url pybb:merge_topics %}?topic={{ topic.id }}">{% trans 'Merge topics' %}</a> /
        {% endcomment %}
            {% endif %}

            {% if user.is_subscribed %}
                <a href="{% url pybb:delete_subscription topic.id %}?from_topic">{% trans "Unsubscribe" %}</a>
            {% else %}
                <a href="{% url pybb:add_subscription topic.id %}">{% trans "Subscribe" %}</a>
            {% endif %}
        </div>

    
    {% endif %}
{% endblock %}
